$primary-color: #f45866; //primary actions and buttons
$secondary-color: #3e82da; //for backgrounds, secondary actions or less prominent elements
$tertiary-color: #3e82da; //Use for highlights, links, or accent elements
$fourth-color: #2e1cc9; // Use for jeaders, titles and emphasis especially for text
$fifth-color: #af454e; //Use this for subtle backgrounds or as a hover effect

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: 'Veranda', sans-serif;
  height: 100%;
  margin: 0px;
  color: #272727;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Make header take full width */
}

.navigation {
  display: flex;
  justify-content: space-around; /* Space out the buttons evenly */
  width: 90%; /* Make navigation take full width */
  margin-bottom: 1em; /* Add some space below the navigation */
  display: flex;
  gap: 1em;
  margin-top: 3em;
  justify-content: center;
}

.tab {
  padding: 1.5em; /* Adjust padding for buttons */
  border: none; /* Optional: Remove border */
  background-color: $tertiary-color;
  color: white;
  width: 300px;
  cursor: pointer; /* Pointer cursor for buttons */
  border-radius: 20px; /* Optional: Round the button edges */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tab:hover {
  background-color: $fourth-color;
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.tab.active {
  background-color: $fourth-color;
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#welcome.pageTitle {
  color: $fourth-color;
  display: flex;
  justify-content: center;
}
.window {
  border: 5px solid $tertiary-color;
  border-radius: 10px;
  padding: 1em;
  width: 95%;
}

.logout {
  padding: 1em; /* Adjust padding for buttons */
  border: none; /* Optional: Remove border */
  background-color: $primary-color;
  color: white;
  width: 100px;
  cursor: pointer; /* Pointer cursor for buttons */
  border-radius: 20px;

  &:hover {
    background-color: $fifth-color;
  }
}

img {
  height: 35px;
  width: 35px;
}

.welcomeBlock {
  padding-top: 20px;
  width: 100%;
}
.select {
  padding: 1.5em;
  border: none;
  background-color: $tertiary-color; /* Primary color */
  color: white;
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: background-color 0.4s ease, transform 0.4s ease;
}
.select:hover,
.select:focus {
  background-color: $fourth-color; /* Highlight color on hover */
  transform: translateY(-5px); /* Lift effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}
