$primary-color: #f45866; //primary actions and buttons
$secondary-color: #3e82da; //for backgrounds, secondary actions or less prominent elements
$tertiary-color: #3e82da; //Use for highlights, links, or accent elements
$fourth-color: #2e1cc9; // Use for jeaders, titles and emphasis especially for text
$fifth-color: #f49390; //Use this for subtle backgrounds or as a hover effect

h1 {
  padding: 0.2em;
}

.memberCard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 250px;
  text-align: center;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-color: #b0c4de;
  }

  .messageTitle {
    font-size: 1.4rem;
    color: #333333;
    margin-bottom: 8px;
  }

  .address,
  .phone {
    font-size: 1rem;
    color: #555555;
  }
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: center;
}

