// $primary-color: #f45866; //primary actions and buttons
$primary-color: #f45866; //primary actions and buttons
$secondary-color: #3e82da; //for backgrounds, secondary actions or less prominent elements
$tertiary-color: #3e82da; //Use for highlights, links, or accent elements
$fourth-color: #2e1cc9; // Use for jeaders, titles and emphasis especially for text
$fifth-color: #af454e; //Use this for subtle backgrounds or as a hover effect
$error-color: #e74c3c;

.container {
  .status-message {
    text-align: center;
    font-weight: bold;
    color: black;
    &.error {
      color: $error-color;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columns
    gap: 10px; // Space between grid items
    padding: 0;
    margin: 0;
    list-style-type: none; // Removes the default list styling

    li {
      flex: 1 1 calc(33.333% - 20px);
      background-color: #fff;
      border-radius: 6px;
      border: solid 1px #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin-bottom: 15px;

      p {
        color: gray;
        margin: 0 0 10px;
        font-weight: bold;
      }

      label {
        display:block;
        font-size: 0.9rem;
        color: gray;
      }

      select {
        display: block;
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid hsl(0, 0%, 75%);
        border-radius: 4px;
        // background-color: $fifth-color;
        color: $fourth-color;

        option {
          color: $fourth-color;
        }
      }

      button {
        margin-top: 10px;
        padding: 8px 12px;
        background-color: $primary-color;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;

        &:hover {
          background-color: $fifth-color;
        }
      }
    }
  }
}
