$primary-color: #f45866; //primary actions and buttons
$secondary-color: #3e82da; //for backgrounds, secondary actions or less prominent elements
$tertiary-color: #3e82da; //Use for highlights, links, or accent elements
$fourth-color: #2e1cc9; // Use for jeaders, titles and emphasis especially for text
$fifth-color: #f49390; //Use this for subtle backgrounds or as a hover effect

.center-text {
    text-align: center; 
    margin: 20px 0; 
  }