$primary-color: #f45866; //primary actions and buttons
$secondary-color: #3e82da; //for backgrounds, secondary actions or less prominent elements
$tertiary-color: #3e82da; //Use for highlights, links, or accent elements
$fourth-color: #2e1cc9; // Use for jeaders, titles and emphasis especially for text
$fifth-color: #af454e; //Use this for subtle backgrounds or as a hover effect


.progressBar{

    width: 200px;
    background-color: $tertiary-color;

    height: 20px;
    border-radius: 13px;
    padding: 3px;
}

.progressBar div{

  height: 18px;

  background-color: $fourth-color;

  border-radius: 13px;
}